<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>举报投诉</title>
    <link rel="stylesheet" href="css/ts1.css">
    <link rel="stylesheet" href="css/ts2.css">
</head>
<body ontouchstart="">
<div class="container" id="container">


    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_success"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">投诉已提交</h2>
            <p class="weui_msg_desc">腾讯安全管家会尽快核实，并通过"QQ安全"及"微信团队"通知你审核结果。感谢你的支持。</p>
        </div>
        <!--<div class="weui_opr_area">-->
            <!--<p class="weui_btn_area">-->
                <!--<button onclick="download_page()" class="weui_btn weui_btn_primary" id="showPay">返回</button>-->
            <!--</p>-->
        <!--</div>-->
        <div class="weui_extra_area">

        </div>
    </div>
</div>

<script>
    function download_page() {
        window.history.go(-2);
        window.location.reload()
    }
</script>


</body>
</html>