<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.dao.MobileConfigAppOrderMapper">
  <resultMap id="BaseResultMap" type="com.tiger.pojo.MobileConfigAppOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="pay_way" jdbcType="TINYINT" property="payWay" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="mobileconfig_app_id" jdbcType="BIGINT" property="mobileconfigAppId" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="order_desc" jdbcType="VARCHAR" property="orderDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, order_num, pay_way, user_id, mobileconfig_app_id, price, order_status, order_desc, 
    create_time, update_time
  </sql>
</mapper>